In [1]:
import pandas

In [3]:
b=pandas.read_csv("/content/panda.csv")
print(b)

      Name   Age  Occupation
0    Alice    30    Engineer
1      Bob    25    Designer
2  Charlie    35     Teacher

In [4]:
u=pandas.read_csv("/content/pan.csv")
print(u)

   t+Duration             Movie  ReleaseYears
0        7020      Blade Runner     1980-1990
1        5220     The Lion King     1990-2000
2        7560     Jurassic Park     1990-2000
3        9120   The Dark Knight     2000-2010

In [5]:
s=pandas.read_csv("/content/pands.csv")
print(s)

  df_train = pd.read_csv(r'invoice_train.csv'   dtype={"client_id": "string"  \
0     df_train.to_json(r'invoice_train.json')                            NaN

    "invoice_date": "string"   "tarif_type": "string"  \
0                        NaN                      NaN

    "counter_number": "string"   "counter_statue": int  \
0                          NaN                     NaN

    "counter_code": "string"   "reading_remarque": "string"  \
0                        NaN                            NaN

    "counter_coefficient": int   "consommation_level_1": int  \
0                          NaN                           NaN

    "consommation_level_2": int   "consommation_level_3": int  \
0                           NaN                           NaN

    "consommation_level_4": int   "old_index": int   "new_index": int  \
0                           NaN                NaN                NaN

    "months_number": int   "counter_type": "string"})
0                    NaN                           NaN

In [6]:
us=pandas.read_csv("/content/pandasss.csv")
print(us)

Empty DataFrame
Columns: [conversions = {"client_id": "string",  "invoice_date": "string",  "tarif_type": "string",  "counter_number": "string",  "invoice_date": "string".1,  "counter_status": int,  "counter_code": "string",  "reading_remarque": "string",  "counter_coefficient": int,  "consommation_level_1": int,  "consommation_level_2": int,  "consommation_level_3": int,  "consommation_level_4": int,  "old_index": int,  "new_index": int,  "months_number": int,  "counter_type": "string"}]
Index: []

In [7]:
y=pandas.read_csv("/content/pas.csv")
print(y)

       ggv  gyghf gygfdrer
0      ftfv  gfui      ffh
1  fftiuhik   yyt       ft
2      1213  7567       54