In [9]:
import pandas

In [13]:
import gspread_dataframe

In [7]:
import pandas

In [8]:
 #making dictionary
users={
    "id":[3,5,6,],
    "name":["hr","hth","ef"]
}
print(users)
users_df=pandas.DataFrame(users)
print(users_df)
#to save data in csv file
users_df.to_csv("data_1.csv")

{'id': [3, 5, 6], 'name': ['hr', 'hth', 'ef']}
   id name
0   3   hr
1   5  hth
2   6   ef

In [18]:
import pandas as pd

# Define a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [19]:
# Define column names
columns = ['Name', 'Age', 'City']

# Create DataFrame
df = pd.DataFrame(data, columns=columns)

# Display the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [22]:
import pandas as pd

# Your dictionary
users = {
    'id': [2, 3, 4, 5],
    'name': ["rt", "ty", "yth", "teg"],
    'marks': [67, 65, 23, 54]
}

# Convert to a DataFrame
users_df = pd.DataFrame(users)

# Convert DataFrame to XML
users_df.to_xml('output_user.xml', index=False)

print("XML file created successfully!")

XML file created successfully!

In [26]:
users={
    "id":[3,5,6,],
    "name":["hr","hth","ef"]
}
print(users)
users_df=pandas.DataFrame(users)
print(users_df)
#converting to xml
users_df.to_xml("data_2.xml")

{'id': [3, 5, 6], 'name': ['hr', 'hth', 'ef']}
   id name
0   3   hr
1   5  hth
2   6   ef